body {
    background-color: rgb(229, 234, 236);
}

h2{

    font-size: 50px;
    color: rgb(0, 0, 0);
    
}

.form-horizontal{
    
margin-left: 20px;
margin-right: 20px;
width: 50%;

}

.form-group{

    width: 260px;
}